PORT=80
HTTPS_PORT=443
MYSQL_PASSWORD=mediawiki
MW_SITE_SERVER=https://localhost
MW_SITE_FQDN=localhost
PHP_UPLOAD_MAX_FILESIZE=10M
PHP_POST_MAX_SIZE=10M
PHP_MAX_INPUT_VARS=1000
MW_ENABLE_SITEMAP_GENERATOR=false # Enable it on the PROD wiki only! See WIK-1420
MW_SITEMAP_SUBDIR=
MW_SITEMAP_IDENTIFIER=mediawiki
USE_EXTERNAL_DB=false
VARNISH_SIZE=1g
MW_SENTRY_DSN=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
PASSWORD_SENDER=

# BASIC AUTH [MEYE-370]
# see https://caddyserver.com/docs/caddyfile/directives/basicauth
# caddy hash-password --plaintext <password>
CADDY_EXTRA="
basicauth * {
	admin HASHED_PASSWORD_HERE
}"
