# General Options

# Snippets

(siteOptions) {
	{$CADDY_EXTRA}
	# some headers like Host or X-Forwarded-For being added automatically,
   	# see https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#defaults
    	reverse_proxy varnish:80 {
        header_up X-Real-IP {remote_host}
    }
}

# Sites

{$MW_SITE_FQDN} {
    # Site options
    import siteOptions
}
